.subject_tile_container {
  display: flex;
  overflow: hidden;
  scroll-padding-left: 0.3rem;
  scroll-padding-right: 0.3rem;
  scroll-snap-type: x mandatory;
  scroll-snap-stop:normal;
  width: inherit;
  scrollbar-width: none;
  gap: 0.3em;

  &::-webkit-scrollbar {
    display: none;
  }

  &.scrollable {
    overflow-x: scroll;
  }

  & .subject_tile {
    min-width: 99%;
    scroll-snap-align: center;
    //margin-left: 1em;
    margin: 0.4em 0;
    background: var(--primary-green);
    color: #FFFFFF;
    border-radius: 1.2rem;
    text-align: start;
    display: flex;
    overflow: hidden;
    transition: all 0.2s ease-out;
    //box-shadow: 0px 4px 20px rgba(197, 197, 197, 0.15);

    &.green {
      background: var(--primary-green);
    }

    &.blue {
      background: var(--primary-cyan);
    }

    &.pink {
      background: var(--primary-red);
    }

    &.orange {
      background: var(--primary-orange);
    }

    @media screen and (max-width: 800px) {
      & {
        margin: 0.5em 0;
      }
    }

    & .short_container {
      display: flex;
      justify-content: space-between;
    }

    & .full_container {
      display: flex;
      justify-content: space-between;
      font-size: 14px;

      & .buttons {
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 1rem;
        align-items: center;

        & .details {

        }
      }
    }

    .time_span {
      color: var(--background);
      font-weight: 600;
    }

    .time_h {
      color: var(--background);
      font-weight: 400;
    }

    & p {
      margin-block-start: 0.1em;
    }

    & .subject_tile_left {
      width: 18%;
      text-align: center;
      padding: 1%;
      color: var(--background);

      & h1 {
        margin-block-start: 0.2em;
        margin-block-end: 0.2em;
        font-size: 14px;
      }

      & h4 {
        margin-block-end: 0;
        margin-block-start: 0;
        font-size: 14px;
      }

      & p {
        margin-block-start: 0;
        margin-block-end: 0.2em;
        font-size: 14px;
      }

      @media screen and (max-width: 800px) {


        & h1 {
          margin-block-start: 0.3em;
          margin-block-end: 0.3em;
          font-size: 14px;
        }

        & h4 {
          font-size: 14px;
        }
      }
    }

    & .subject_tile_right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;
      width: calc(100% - 2rem);

      & h3 {
        margin-block-start: 0;
        font-size: 1.1em;
        margin-block-end: 0.2em;
      }

      & p {
        font-size: 1em;
        margin-block-start: 0.2em;
        margin-block-end: 0;
      }

      @media screen and (max-width: 800px) {
        & h3 {
          font-size: 14px;
          margin-block-start: 0;
          margin-block-end: 0.2em;
        }

        & p {
          font-size: 14px;
          margin-block-start: 0.2em;
          margin-block-end: 0;
        }
      }
    }
  }
}



.dot_indicator {
  display: flex;
  justify-content: center;

  & div {
    width: 5px;
    height: 5px;
    margin: 0 5px;
    background: var(--primary-gray);
    border-radius: 1em;

    &.current {
      background: var(--primary-color);
    }
  }
}

@media screen and (max-width: 1024px) {
  .subject-tile-right h3 {
    font-weight: 700;
    font-size: 1em;
  }

  .subject-tile-right p {
    font-weight: 400;
    font-size: 0.9em;
  }

  .subject-tile-left h4 {
    font-weight: 400;
    font-size: 0.9em;
  }

  .subject-tile {
    margin: 0.8em 0;
  }

  .subject-tile h1 {
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
  }
}

@media screen and (max-width: 800px) {
  .subject-tile-right h3 {
    font-weight: 600;
  }

  .subject-tile {
    margin: 0.5em 0;
  }

  .subject-tile h1 {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
  }
  .subject-tile-right {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 520px) {
  .subject-tile-left {
    width: 26%;
    padding: 2%;
  }

  .subject-tile-right {
    padding: 2%;
    width: 66%;
  }
}