.search_input {
  padding: 0.5em 6%;
  height: 2em;
  color: var(--text-color);
  font-weight: 500;
  background: var(--background-tile);
  border: none;
  width: 88%;

  &:focus {
    outline: none;
    background: var(--nav-color);
  }
}

.loader {
  margin-top: 20vh;
  fill: var(--text-color);
}

.list {
  border-radius: 1em;
  margin-top: 1em;
  width: 100%;
  height: 0px;
  transition: all 0.3s ease-in-out;
  background: var(--background-tile);
  overflow-y: scroll;
  text-align: center;

  &.active {
    height: 60vh;
  }

  & table{
    width: 100%;
  }
}

.tab_group {
  overflow: hidden;
  border-radius: 1em;
  border: 2px var(--background-tile) solid;
}