.container_wrapper {
  //position: fixed;
  height: 26%;
  width: 100%;
  bottom: calc(var(--nav-height) + 8vh);
  //backdrop-filter: blur(6px);

  z-index: 1;

  .container {
    max-width: 500px;
    margin: 0 auto 0 auto;
    height: 100%;
    //background: var(--background-color);

    //border-top: var(--background-tile) 2px solid;
    background: var(--primary-dark);

    @media screen and (max-width: 1024px) {
      & {
        width: 100%;
      }
    }

    & .title_container {
      display: flex;
      padding-top: 0.5em;
      width: 92%;
      margin: 0 auto 0 auto;

      @media screen and (max-width: 1024px) {
        & {
          width: 92%;
        }
      }

      & div:first-child {
        text-align: start;
      }
      & div:last-child {
        text-align: end;
      }

      & div {
        flex-grow: 1;
      }

      & .title {
        flex: 4;
        color: var(--primary-white);
        font-weight: 700;
        font-size: 1.2rem;
        text-align: center;
      }


    }

    & .calendar_container {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 0.5rem;
      margin-bottom: 0.8rem;

      & .calendar_mini {
        display: flex;
        width: 100%;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        & .day_cont {
          height: 99px;
          display: flex;
          flex-direction: column;
          //justify-content: space-evenly;
          padding-top: 0.5rem;
          gap: 0.4rem;
          text-align: center;
          //flex-grow: 1;
          cursor: pointer;
          font-weight: 600;
          position: relative;
          font-size: 22px;
          user-select: none;
          background: #393A3F;
          border-radius: 2rem;
          width: 52px;
          justify-content: center;
          color: #FFFFFF;
          user-select: none;

          &.current {
            background: #FFFFFF;
            color: #26272E;
            height: 127px;
            //height: 16vw;

            &.holiday {
              color: var(--primary-dark);
              background: #FFFFFF;
            }
          }

          &.holiday {
            color: var(--red);
          }

          & .subject_number {
            //position: absolute;
            //text-align: right;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            gap: 2px;
            height: 0.4rem !important;

            & .number_dot {
              background: var(--primary-gray);
              width: 0.4rem !important;
              height: 0.4rem !important;
              border-radius: 50%;
            }
            & .number_container {
              background: var(--primary-gray);
              color: var(--primary-dark);
              width: 1.1rem !important;
              height: 1.1rem !important;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              font-size: 0.6rem;
              margin-top: -0.2rem;
            }
          }
        }

        @media screen and (max-width: 800px) {
          & {
            width: 90%;
            //gap: 0.4rem;
          }
          & .day_cont {
            font-size: 20px;
            height: 86px;

            &.current {
              height: 110px;
            }
          }
        }



        & p {
          margin: 0;

          &.day_name {
            margin-top: -6px;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 2px;
          }
        }
      }
    }
  }

  &.top {
    top: 0;
    height: 32%;

    & .container {
      //border-bottom: var(--background-tile) 2px solid;
      border-top: none;
    }

    & .calendar_container {
      margin-top: 0.5em;
    }

    @media screen and (max-width: 800px) {
      & {
        height: 29%;
      }
    }
  }

  & .bottom {
    text-align: center;
    width: 92%;
    justify-content: space-between;
    display: flex;
    max-width: 500px;
    margin: 0.5rem auto;

    & .month {
      color: var(--primary-dark);
      background: #FFFFFF;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      border: none;
      padding: 0.4em 1em;
      border-radius: 1em;
    }

    & .arrow {
      background: none;
      border: none;
      font-weight: 800;
      color: #FFFFFF;

      & svg {
        & path {
          stroke: #FFFFFF;
        }
      }
    }
  }
}


.icon_button {
  padding-top: 2px;
  flex-grow: 1;
  background: none;
  outline: none;
  border: none;
  fill: var(--background-color);
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  & svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  &.compare svg{
    fill: var(--primary-green);
  }

  &.favorite {
    fill: var(--primary-red);
  }
}

.icon_button2 {
  padding-top: 2px;
  flex-grow: 1;
  background: none;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &.compare svg path{
    fill: var(--primary-green) !important;
    stroke: var(--primary-green) !important;
  }

  &.favorite {
    fill: var(--primary-red);
  }

  & svg{
    width: 1.5rem;
    height: 1.5rem;

    & path {
      stroke: var(--text-color);
    }
  }
}