.main_container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.75s, visibility 0.75s;
  flex-direction: column;

  & svg {
    width: 12rem;
    height: 12rem;
  }
}

.loader {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 1000;
}

.loader__hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 3rem;
  height: 3rem;
  border: 6px solid #F0F3F7;
  border-top-color: var(--primary-color);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}