
.container {
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  bottom: 0;
  background: var(--background-color);
  display: flex;
  justify-content: center;
  vertical-align: middle;
  z-index: 100;
  //border-top: 1px var(--menu-bg) solid;
  user-select: none;

  & div {
    width: 6rem;
    height: 50px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    user-select: none;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 520px) {
      & {
        width: 25%;
      }
    }

    & p {
      position: absolute;
      font-size: 0.6em;
      bottom: -5px;
      color: var(--text-color-secondary2)
    }

    & svg{
      margin-top: -9px;
      width: 20px;
      height: 20px;
      //transform: translateY(35%);
      /* fill: #7ec1ff; */
      fill: var(--nav-color);
      padding: 0 25px;
    }

    &:hover svg{
      fill: var(--blue);
    }

    &.selected {
      background: var(--menu-bg);
      //border-radius: 0 0 1.5em 1.5em;

      //overflow-y: hidden;

      & svg{
        fill: var(--background-color)
      }
    }

    //&.selected:after {
    //  content: "";
    //  position:absolute;
    //  top:0;
    //  left:-60px;
    //  height:21px;
    //  width: 60px;
    //  border-top-right-radius: 3em;
    //  //background:#000;
    //  box-shadow: 19px 0 0 0 var(--menu-bg);
    //}
    //
    //&.selected:before {
    //  content: "";
    //  position:absolute;
    //  top:0;
    //  right:-60px;
    //  height:21px;
    //  width: 60px;
    //  border-top-left-radius: 3em;
    //  //background:#000;
    //  box-shadow: -18px 0 0 0 var(--menu-bg);
    //}

    //&.selected:before {
    //  border-right: 0;
    //  -moz-border-radius: 0 0 0 5px;
    //  -webkit-border-radius: 0 0 0 5px;
    //  border-radius: 0 0 0 5px;
    //  right: -41px;
    //}

  }
}