
.container {
  position: fixed;
  width: 90%;
  max-width: 400px;
  transform: translateX(-50%);
  left: 50%;
  height: 4rem;
  bottom: var(--nav-height);
  background: var(--background-secondary);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 98;
  //border-top: 1px var(--menu-bg) solid;
  user-select: none;

  & div {
    width: 10rem;
    height: 50px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    user-select: none;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 720px) {
      & {
        width: 30%;
      }
    }

    //& p {
    //  position: absolute;
    //  font-size: 0.6em;
    //  bottom: -5px;
    //  color: var(--text-color-secondary2)
    //}

    & svg{
      margin-top: -3px;
      width: 26px;
      height: 26px;
      //transform: translateY(35%);
      ///* fill: #7ec1ff; */
      padding: 0 25px;

      & path {
        fill: var(--primary-white);
        stroke: var(--primary-white);

        &.stroke_only {
          fill: none;
          stroke: var(--primary-white);
        }
      }
    }

    &:hover svg{
      //fill: var(--blue);
    }

    &.selected {
      & svg{
        & path {
          fill: var(--primary-color);
          stroke: var(--primary-color);

          &.stroke_only {
            fill: none;
            stroke: var(--primary-color);
          }
        }
      }
    }

    //&.selected:after {
    //  content: "";
    //  position:absolute;
    //  top:0;
    //  left:-60px;
    //  height:21px;
    //  width: 60px;
    //  border-top-right-radius: 3em;
    //  //background:#000;
    //  box-shadow: 19px 0 0 0 var(--menu-bg);
    //}
    //
    //&.selected:before {
    //  content: "";
    //  position:absolute;
    //  top:0;
    //  right:-60px;
    //  height:21px;
    //  width: 60px;
    //  border-top-left-radius: 3em;
    //  //background:#000;
    //  box-shadow: -18px 0 0 0 var(--menu-bg);
    //}

    //&.selected:before {
    //  border-right: 0;
    //  -moz-border-radius: 0 0 0 5px;
    //  -webkit-border-radius: 0 0 0 5px;
    //  border-radius: 0 0 0 5px;
    //  right: -41px;
    //}

  }
}