//body {
//  background: var(--primary-dark);
//}

.view_scroll {
  box-sizing: border-box;
  display: flex;
  max-width: 500px;
  width: calc(100%);
  height: 70vh;
  margin: 0 auto;
  overflow-x: scroll;
  gap: 20px;
  scroll-padding-left: 0.3rem;
  scroll-padding-right: 0.3rem;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  scrollbar-width: none;
  //background: var(--background-tile);
  padding: 0.7rem 0.3rem 0 0.6rem;
  border-radius: 0 0 35px 35px;
  background: var(--background-tile);
  z-index: 2;
  //position: fixed;
  left: 50%;
  //transform: translateX(-50%);
  box-sizing: border-box;
  overflow-y: hidden;
  //position: absolute;

  &.top {
    top: 31vh;
    border-radius: 35px 35px 0 0;
    height: 69%;
  }

  &.desktop {

  }

  & .art img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin-top: 2rem;
    //opacity: 0; /* Устанавливаем начальную прозрачность 0 */
  }

  @media screen and (max-width: 1250px) {
    & {
      //width: 98%;
      //padding-bottom: 20vh;
      height: 60vh;
      bottom: 40vh;
    }

    &.top {
      top: 35vh;
      height: 69vh;
    }

    & .day {

      & .day_title {
        margin-block-start: 0.2rem;
      }
    }
  }

  @media screen and (max-width: 800px) {
    & {
      //width: 98%;
      //padding-bottom: 20vh;
      height: 60vh;
      bottom: 40vh;
    }

    &.top {
      //top: 33vh;
      height: 71%;
    }

    & .day {

      & .day_title {
        margin-block-start: 0.2rem;
      }
    }
  }

  & .day {
    min-width: 99%;
    min-height: 30vh;
    text-align: center;
    scroll-snap-align: center;
    padding-bottom: 6rem;
    overflow-y: auto;

    & .day_title {
      margin-block-end: 0.2em;
      color: var(--text-color);

      &.today {
        color: var(--primary-color);
        font-size: 1rem;
      }
    }

    & .subtitle {
      margin-block-start: 0.2em;
      margin-block-end: 0.2em;
      color: var(--text-color-secondary2);
    }

    @media screen and (max-width: 800px) {
      & .day_title{
        font-size: 1rem;
      }

      & .subtitle {
        font-size: 1rem;
      }
    }
  }
}
.container {
  background: var(--primary-dark);
  height: 100vh;
  overflow-y: hidden;
}