.view-header {
    position: fixed;
    width: 700px;
    margin: 0 auto 0 auto;
    /*background: var(--background-color);*/
    backdrop-filter: blur(20px);
    border-top: var(--nav-color-secondary) 2px solid;
    background: var(--bg-semi-transperent);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    bottom: calc(var(--nav-height) - 2px);

}

.view-header.top {
    top: 0;
    height: 130px;
    border-top: none;
    border-bottom: var(--nav-color-secondary) 2px solid;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.view-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
}

.mini-calendar-container {
    background: var(--background-color);
    border-radius: 15px;
    overflow: hidden;
    height: 80px;
    display: flex;
    width: 90%;
    /*box-shadow: 0 4px 20px rgba(197, 197, 197, 0.25);*/
    justify-content: space-between;
    z-index: 7;
}

.mini-calendar-item {
    width: 33.3%;
    height: 100%;
    text-align: center;
    background: var(--background-tile);
    cursor: pointer;
    transition: all 0.2s ease-in;
    border-right: 2px solid var(--background-tile-border);
    user-select: none;
}

.mini-calendar-item:last-child {
    border: none;
}

.mini-calendar-item.active, .mini-calendar-item.exists.active {
    background: var(--blue);

}

.mini-calendar-item.exists {
    background: var(--background-secondary);
}

.mini-calendar-item.exists h1{
    color: var(--text-color)
}

.mini-calendar-item h4 {
    color: var(--text-color-secondary);
    font-weight: 500;
    font-size: 1em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.mini-calendar-item:hover {
    background: var(--background-secondary);
}

.mini-calendar-item:hover h1 {
    color: #333399;
}

.mini-calendar-item:hover h4 {
    color: #4343a1;
}

.mini-calendar-item h1 {
    margin-block-end: 0;
    font-size: 1.2em;
    color: var(--red);
}

.compare-btn {
    width: 45px;
    height: 45px;
    fill: var(--nav-color);
    margin-top: -0.5em;
    cursor: pointer;
}

.compare-btn.active {
    fill: var(--blue);
}

.icon-btn {
    background: none;
    outline: none;
    border: none;
    fill: var(--nav-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.icon-btn svg {
    width: 30px;
    height: 30px;
}

.icon-btn.favorite {
    fill: var(--red);
}

.calendar-main-container {
    text-align: -webkit-center;
    display: flex;
    justify-content: space-between;
}

.calendar-main-container button {
    background: none;
    border: none;
    font-weight: 800;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--text-color)
}

.calendar-main-container button:hover {
    color: var(--blue);
}

.calendar-main-container button:focus {
    color: var(--blue);
    outline: 0;
}



@media screen and (max-width: 1024px) {
    .mini-calendar-item h1 {
        font-size: 1em;
    }

    .mini-calendar-container {
        height: 70px;
    }

    .view-header {
        height: 110px;
    }

    .view-header.top {
        height: 130px;
    }
}

@media screen and (max-width: 800px) {
    .mini-calendar-item h4 {
        font-size: 0.8em;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }
    .mini-calendar-container {
        height: 60px;
    }
    .view-header {
        left: 0;
        padding: 0.8em 5vw 0.2em 5vw;
        width: 90vw;
    }

    .view-header.top {
        height: 105px;
    }
}

@media screen and (max-width: 520px) {
    .mini-calendar-item h4 {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }

    .mini-calendar-container {
        height: 60px;
    }

    .calendar-main-container button {
        font-size: 1.2em;
    }
}