:root[data-theme="light"] {
    --background-color: #F4F6F8;
    --bg-semi-transperent: rgba(242, 242, 248, 0.6);
    --text-color: #131336;
    --background-secondary: #23242A;
    --background-tile: #ffffff;
    --background-tile2: #e7e7e7;
    --background-tile-border: #FDFDFE;
    --menu-bg: #C7CDDD;
    --text-color-secondary: #23242A;
    --text-color-secondary2: #131336;
    --green: #A2EAB6;
    --blue: #A2D2FF;
    --pink: #FCB3B3;
    --orange: #FFD9AB;
    --red: #F74141;
    --light-red: #FFD4D4;
    --nav-color: #C7CDDD;
    --nav-color-secondary: #DFE5F5;
    --lavanda: #7B7AFF;
    --light-lavanda: #D5D4FF;
    /*--primary-color: #717EEE;*/
    --box-shadow-light: 4px 4px 8px rgba(159, 159, 159, 0.25), -4px -4px 15px rgba(234, 234, 234, 0.91);

    --primary-color: #717EEE;
    --primary-white: #FFFFFF;
    --primary-cyan: #57C5FE;
    --primary-orange: #FEC166;
    --primary-red: #FE848F;
    --primary-green: #90D6A0;
    --primary-gray: #C9C9C9;
    --primary-gray2: #757575;
    --primary-dark: #23242A;
    --primary-dark2: #26272E;
}

:root[data-theme="dark"] {
    --background-color: #3A3D41;
    --bg-semi-transperent: rgba(8, 12, 20, 0.6);
    --text-color: #FCFFFF;
    --background-secondary: #23242A;
    --background-tile: #2A2C30;
    --background-tile2: #36393d;
    --background-tile-border: #363636;
    --menu-bg: #2A2C30;
    /*--menu-bg: #2D2D2D;*/
    --text-color-secondary: #F4F6F8;
    --text-color-secondary2: #6e6e6e;
    --green: #74E092;
    --blue: #73BCFF;
    --pink: #FA8D8D;
    --orange: #FFC581;
    --red: #F74141;
    --light-red: #6D2E2E;
    --lavanda: #7B7AFF;
    --light-lavanda: #2F2E6D;
    --nav-color: #2D2D2D;
    --nav-color-secondary: #3D3D3D;

    --primary-color: #717EEE;
    --primary-white: #FFFFFF;
    --primary-cyan: #57C5FE;
    --primary-orange: #FEC166;
    --primary-red: #FE848F;
    --primary-green: #90D6A0;
    --primary-gray: #C9C9C9;
    --primary-dark: #23242A;
    --primary-dark2: #26272E;
}

:root[data-theme="pink"] {
    --background-color: #FE7676;
    --bg-semi-transperent: rgba(8, 12, 20, 0.6);
    --text-color: #FCFFFF;
    --background-secondary: #FF9190;
    --background-tile: #FF9190;
    --background-tile2: #ff9b9a;
    --background-tile-border: #F6ADAE;
    --menu-bg: #f8b3cf;
    /*--menu-bg: #2D2D2D;*/
    --text-color-secondary: #F4F6F8;
    --text-color-secondary2: #6e6e6e;
    --green: #74E092;
    --blue: #73BCFF;
    --pink: #FA8D8D;
    --orange: #F8F99B;
    --red: #F74141;
    --light-red: #6D2E2E;
    --lavanda: #7B7AFF;
    --light-lavanda: #2F2E6D;
    --nav-color: #2D2D2D;
    --nav-color-secondary: #3D3D3D;

    --primary-color: #802E5D;
    --primary-white: #F7E6E5;
    --primary-cyan: #57C5FE;
    --primary-orange: #F9DD6A;
    --primary-red: #FE848F;
    --primary-green: #3da83f;
    --primary-gray: #ffffff;
    --primary-dark: #23242A;
    --primary-dark2: #26272E;
}

:root[data-theme="yellow"] {
    --background-color: #F9953A;
    --bg-semi-transperent: rgba(242, 242, 248, 0.6);
    --text-color: #131336;
    --background-secondary: #23242A;
    --background-tile: #ffffff;
    --background-tile2: #e7e7e7;
    --background-tile-border: #FDFDFE;
    --menu-bg: #C7CDDD;
    --text-color-secondary: #23242A;
    --text-color-secondary2: #131336;
    --green: #A2EAB6;
    --blue: #A2D2FF;
    --pink: #FCB3B3;
    --orange: #FFD9AB;
    --red: #F74141;
    --light-red: #FFD4D4;
    --nav-color: #C7CDDD;
    --nav-color-secondary: #DFE5F5;
    --lavanda: #7B7AFF;
    --light-lavanda: #D5D4FF;
    /*--primary-color: #717EEE;*/
    --box-shadow-light: 4px 4px 8px rgba(159, 159, 159, 0.25), -4px -4px 15px rgba(234, 234, 234, 0.91);

    --primary-color: #717EEE;
    --primary-white: #FFFFFF;
    --primary-cyan: #57C5FE;
    --primary-orange: #FEC166;
    --primary-red: #FE848F;
    --primary-green: #90D6A0;
    --primary-gray: #C9C9C9;
    --primary-dark: #23242A;
    --primary-dark2: #26272E;
}

* {
    scrollbar-width: 3px;
    scrollbar-color: #ccc transparent;
}
*::-webkit-scrollbar {
    height: 3px;
    width: 3px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
    border: none;
}

html {
    background: var(--background-color);
}

body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}


#root {
    /*background: #FAFAFD;*/
    height: 96vh;
    /*overflow-y: hidden;*/
    --nav-height: 20px;
}

#root.ios-detected {
    --nav-height: 40px;
}

#root.scroll-blocked {
    overflow-y: hidden;
}

.bg-img {
    z-index: -100;
    margin-top: -100vh;
    position: absolute;
    left: 30%;
}

#admin_container {
    width: 80%;
    margin: 0 auto;
    overflow-x: scroll;
}

#admin_container td svg{
    width: 2em;
    height: 2em;
}

.main-container {
    width: 700px;
    margin: 0 auto 0 auto;
    text-align: center;
    padding-bottom: 17em;
    /*padding: 0.8em;*/
}

.main-container.top{
    padding-bottom: 5em;
    padding-top: 11em;
}

.tiles-main-container {
    height: 68vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 5em;
}


#tiles-container h2{
    margin-block-end: 0.1em;
}

#tiles-container h5{
    margin-block-start: 0.1em;
    color: #939393;
    font-weight: 400;
    margin-block-end: 0.5em;
}

#tiles-container .today {
    color: #7B7AFF;
}

.home-container {
    width: 800px;
    margin: 1em auto;
    text-align: center;
}

.title-h2 {
    margin: 0;
}

/* .title-h2 {
  text-align: center;
  margin-block-start: 1em;
} */

.home-container .search-field {
    width: 80%;
    margin: 0.2em auto;
    border: 0;
    outline: 0;
    color: var(--text-color);
    padding: 6px 15px;
    font-size: 1.1em;
    background: none;
}

.home-container .search-tabs {
    display: flex;
    background: var(--background-color);
    border-radius: 10px 10px 0 0;
    font-weight: 600;
    justify-content: space-between;
}

.home-container .search-tabs .active {
    background: var(--background-tile);
    color: var(--text-color)
}

.home-container .search-tabs button {
    padding: 0.4em 1em;
    width: 33%;
    border-radius: 10px 10px 0 0;
    position: relative;
    color: var(--text-color);
    border: 0;
    background: transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2em;
}

.home-container .search-container {
    width: 100%;
    background: var(--background-tile);
    border-radius: 10px;
    /*box-shadow: 0 4px 20px rgba(197, 197, 197, 0.15);*/
    margin: 1em 0;
    border: var(--text-color-secondary) 1px solid;
}

.home-container table {
    width: 100%;
    text-align: center;
    background: var(--background-tile);
    /*box-shadow: 0 4px 20px rgba(197, 197, 197, 0.15);*/
    border-collapse: collapse;
}

table tr:nth-child(even) {
    background: var(--background-tile2);
}

table thead {
    background: var(--lavanda);
    color: #FFFFFF;
    font-size: 1.2em;
}
table thead th {
    padding: 5px;
    font-weight: bold;
}

table tbody td {
    width: 33%;
    padding: 5px;
    font-size: 1em;
    text-align: center;
    /*border: 1px solid var(--text-color-secondary);*/
}

table tbody td:first-child {
    border-left: none;
}

table tbody tr:hover {
    cursor: pointer;
    background: var(--menu-bg);
    box-shadow: 0 0 25px 2px rgba(199, 210, 249, 0.17);
}



@media screen and (max-width: 1024px) {
    .title-h2 {
        font-size: 1.5em;
        margin: 0;
    }

    .home-container .search-tabs button {
        font-size: 0.9em;
    }

    .today,
    .day {
        font-size: 1.2em;
    }
}
@media screen and (max-width: 800px) {
    .title-h2 {
        font-size: 1.2em;
    }
    table thead {
        font-size: 1em;
    }

    .icon-btn svg {
        width: 25px;
        height: 25px;
    }

    .main-container,
    .home-container {
        width: 90vw;
    }

    .today,
    .day {
        font-size: 1em;
    }

    .tiles-main-container {
        height: 80vh;
    }

    .bg-img {
        left: 0;
        width: 100%;
    }

    .main-container.top{
        padding-bottom: 5em;
        padding-top: 9em;
    }
}
@media screen and (max-width: 520px) {
    .home-container .search-tabs button {
        font-size: 0.9em;
        width: auto;
    }

    .main-container.top{
        padding-bottom: 5em;
        padding-top: 8em;
    }
}
