$bg-light: #F5F5FB;
$bg-accent-light: #FDFDFE;
$text-color-light: #131336;
$text-color-dark: #FCFFFF;
$bg-dark: #080C14;
$bg-accent-dark: #0D121E;
$gray: #2D2D2D;
$light-gray: #777777;
$blue: #3240FF;
$cyan: #59CEFF;
$light-green: #B7FFF1;
$lavanda: #7B7AFF;
$pink: #FEAFE3;
$light-pink: #FEE0FF;
$green: #24B89A;
$yellow: #F3E059;
$red: #D62648;
