.favorites_screen {
  transition: all 0.4s ease-in-out;
  width: 50%;
  margin: 1em auto;

  & .title {
    color: var(--text-color);
    text-align: center;

    @media screen and (max-width: 1024px) {
      & {
        font-size: 1.5em;
        margin: 0;
      }
    }

    @media screen and (max-width: 800px) {
      & {
        font-size: 1.2em;
      }
    }
  }

  & .bottom_container {
    width: 100%;
    height: 90px;
    //background: linear-gradient(0deg, var(--background-color) 50%, rgba(244,66,98,0) 100%);
    position: fixed;
    bottom: calc(var(--nav-height) + 4rem);
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 2em;


    & button{
      width: 60%;
      height: 3rem;
      border-radius: 2em;
      border: none;
      background: var(--primary-color);
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 600;
      font-family: 'Poppins', sans-serif;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 1024px) {
    & {
      width: 96%;
    }
  }

  & .search_container {
    //background: var(--background-tile);


  }

  .favorites_back {
    background: var(--background-tile);
    border-radius: 35px;
    padding: 0.1rem 1rem 1rem 1rem;
  }

  & .favorites_container {
    margin: 1em 0;
    padding-bottom: 8em;
    gap: 0.5em;
    //overflow-y: scroll;
    //overflow-x: auto;

    @media screen and (max-width: 1024px) {
      & {
        padding-bottom: 10em;
      }
    }

    & .tile {
      width: 92%;
      padding: 0.7em 4%;
      background: var(--background-color);
      border-radius: 35px;
      text-align: center;
      margin-bottom: 1em;
      cursor: pointer;
      height: 1.8em;
      //box-sizing: border-box;
      font-weight: 600;
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .crown {
        position: absolute;
        right: 0;
        top: -20px;
        transition: all 0.2s ease-out;
        opacity: 0;
      }

      .inner_cont {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 1fr;
        width: 100%;
        align-items: center;
      }
      //justify-content: space-evenly;

      &.my {
        .crown {
          opacity: 1;
        }
      }

      //& div {
      //
      //  width: 25%;
      //  display: flex;
      //  flex-direction: column;
      //  justify-content: center;
      //
      //}

      & .name {
        text-align: start;
      }

      & .actions {
        display: flex;
        flex-direction: row;
        gap: 1em;

        & .btn {
          border: none;
          height: 1.8em;
          width: 1.8em;
          padding: 0;
          font-size: 0.8em;
          background: var(--background-tile);
          color: var(--red);
          border-radius: 0.4em;
          align-self: center;
        }

        & input[type="checkbox"] {
          appearance: none;
          margin: 0;
          outline: 0;
          font-size: 0.8em;
          background: var(--background-tile);
          color: var(--red);
          border-radius: 0.4em;
        }
      }


    }
  }
}